---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Home">
  <div class="flex flex-col gap-2 mx-auto">
    <p
      class="mb-4 underline underline-offset-2 decoration-wavy decoration-red-100 decoration-2"
    >
      Currently working on: ez-meal-prep
    </p>
    <h1 class="text-xl font-semibold">Yash Mahesh Burshe</h1>
    <div class="flex gap-4 items-center my-2">
      <a class="bg-cyan-100" href="https://www.linkedin.com/in/yash-burshe"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-linkedin"
          ><path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path><rect x="2" y="9" width="4" height="12"></rect><circle
            cx="4"
            cy="4"
            r="2"></circle></svg
        ></a
      >
      <a class="bg-rose-100" href="https://www.github.com/yburshe"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-github"
          ><path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path></svg
        ></a
      >
    </div>
    <div>
      <h2 class="text-lg font-semibold border-b mb-2">Academic</h2>
      <div class="mb-2">
        <h3 class="font-medium bg-blue-100 w-fit">
          Northeastern University, Boston
        </h3>
        <p class="italic">Master of Science in Computer Science</p>
      </div>
      <div>
        <h3 class="font-medium bg-green-100 w-fit">NMIMS, Mumbai</h3>
        <p class="italic">
          Bachelor of Technology in Computer Science & Engineering
          (Cybersecurity)
        </p>
      </div>
    </div>
    <div>
      <h2 class="text-lg font-semibold border-b mb-2">Work</h2>
      <div class="mb-2">
        <h3 class="font-medium bg-yellow-100 w-fit">Oneture Technologies</h3>
        <p class="italic">Software Engineering Intern</p>
      </div>
      <div>
        <h3 class="font-medium bg-orange-100 w-fit">
          University of Auckland (Signal Corp.)
        </h3>
        <p class="italic">Research Intern</p>
      </div>
    </div>
  </div>
</SiteLayout>
