---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Resume">
  <div class="flex justify-center mt-12">
    <a
      class="flex items-center gap-2 border px-6 py-3 rounded-lg shadow-sm hover:shadow-md"
      href="/resume.pdf"
      download="resume-yash-burshe.pdf"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-download"
        ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
          points="7 10 12 15 17 10"></polyline><line
          x1="12"
          y1="15"
          x2="12"
          y2="3"></line></svg
      >Download</a
    >
  </div>
</SiteLayout>
