---
const links = [
    { href: '/resume', text: 'Resume' },
    { href: '/projects', text: 'Projects' },
]

const pathname = new URL(Astro.request.url).pathname
const currentPath = "/" + pathname.slice(1)
---
<nav class="flex py-8 justify-between">
    <a href="/"><h1 class={`font-bold hover:tracking-tight transition-all ${currentPath == '/' ? "tracking-tight": ""}`}>Yash Mahesh Burshe</h1></a>
    <ul class="flex gap-4 font-medium">
        {links.map((link) => (
            <li>
                <a class={`${currentPath == link.href ? "bg-red-200" : ""}`} href={link.href}>{link.text}</a>
            </li>
        ))}
    </ul>
</nav>